<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<title>{{title}}</title>
</head>
<body>
	<h1>Login</h1>
	<form action="/users/login", method="POST">
		<input name="email" id="email-input-form" type="text" placeholder="email" required>
		<input name="password" id="password-input-form" type="password" placeholder="mot de passe" required>
		<button id="butt" type="submit">Login</button>
	</form>
</body>
</html>