<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
        <h2>EXPORT</h2>
        <ul>
            <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/opexporters"><i class="fas fa-user"></i>Exportateurs</a></li>
            <li><a href="/opexports"><i class="fas fa-user"></i>Exports</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Statistics</a></li>
            <li><a href="/users/logout"><i class="fas fa-user"></i>Log Out</a></li>
        </ul> 
</div>